* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    overflow-x: hidden;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header{
    background-color: #9e0101;
    padding-top: 64px;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}


section {
    padding: 24px 0;
}

section h1 {
    margin-bottom: 10px;
}

button {
    display: block;
    width: 100%;
    padding: 8px 0;
    border: none;
    background-color: #119759;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 6px;
}

.form-campo {
    margin-bottom: 14px;
}

.form-campo label {
    font-weight: bold;
    display: block;
}

.form-campo input,
.form-campo textarea {
    width: 100%;
    display: block;
    padding: 8px;
}

.form-campo textarea {
    resize: none;
    height: 36px;
}

form {
    max-width: 360px;
}

form button {
    max-width: 90px;
}